<style>
   * {
      font-size: 1em;
   }

   html {
      max-width: 1000px;
      margin: 10px auto;
   }

   body {
      display: flex;
      flex-wrap: wrap;
   }

   .list, .tags {
      flex: 1
   }

   .list {
      min-width: 400px;
   }

   .tag {
      display: inline-block;
      white-space: nowrap;
      padding: 4px 8px;
      margin: 5px 1px;
      color: black;
      border: 1px solid #727272;
      border-radius: 20px;
      text-decoration: none;
   }
</style>

<div class="list">
   <h1>{{ .title }}</h1>

   {{ range .list }}
   <p><a href="/view?id={{ .ID }}">{{ .Title }}</a></p>
   {{ end }}
</div>

<div class="tags">
   <h1>Tags</h1>

   {{ range $name, $ids := .tags }}
   <a href="/?tag={{ $name }}" class="tag">{{ $name }}</a>
   {{ end }}
</div>